@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 186, 206);
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
h1{
    align-content: center;
    align-self: flex-start;
    align-items: baseline;
    font-size: 30px;
    
}
.pw-container {
    background-color: rgb(196, 47, 82);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 800px;
    margin-right: auto;
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: rgb(11, 10, 0);
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 100px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}

.pw button {
    background-color: white;
    border: none;
    color: rgb(144, 129, 158);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, 0%);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    background-color: #3e0f1b;
    border: none;
    color: rgb(231, 219, 244);
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
}